* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

@font-face {
  font-family: U-bold;
  src: url(./font/Udemy-Sans-Bold-v1.woff2);
}

@font-face {
  font-family: U-reg;
  src: url(./font/Udemy-Sans-Regular-v1.woff2);
}

@font-face {
  font-family: S-bold;
  src: url(./font/SuisseWorks-Bold-v1.woff2);
}

main {
  width: 100%;
  overflow-x: hidden;
}

.ad_main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #c2e9eb;
}

.ad_content {
  width: 100%;
  padding: 16px 0px 16px 24px;
}

.ad_content_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ad_content_main .ad_heading {
  font-family: U-bold;
  font-size: 14px;
  color: rgb(48, 49, 65);
  line-height: 19.5px;
  margin-right: 0px;
}

.ad_content_main .para {
  font-family: U-reg;
  font-size: 14px;
  color: rgb(48, 49, 65);
  line-height: 19.5px;
}

.ad_content_main .para a {
  font-family: U-reg;
  font-size: 14px;
  color: rgb(48, 49, 65);
  line-height: 19.5px;
  text-decoration-color: rgb(175, 114, 253);
  text-decoration-line: underline;
}

.ad_close_btn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 8px;
  padding: 0px 10px;
  color: rgb(48, 49, 65);
}

.ad_close_btn svg {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: rgb(48, 49, 65);
}

.ad_close_btn svg g {
  font-size: 14px;
  width: 11px;
  height: 11px;
  color: rgb(48, 49, 65);
}

/* ------------sidebar----------- */
.sidebar_menu {
  position: absolute;
  display: flex;
  width: 0;
  left: -768px;
  background: rgba(0, 0, 0, 0.279);
}

.sidebar_menu_inner {
  width: 75.7%;
  max-width: 280px;
  background: white;
  z-index: 1000;

}

.active {
  width: 100%;
  left: 0;
  transition: 0.3s ease-in-out;

}

.sidebar_menu_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 48px;
  height: 48px;
  padding: 0px 12px;
  margin: 10px;
  background: white;
  border-radius: 100px;
}

.sidebar_menu_profile {
  display: flex;
  padding: 16px;
  margin: 0px -4px;
  color: rgb(48, 49, 65);
  background: rgb(246, 247, 249);
}

.profile_dp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13.333px;
  font-family: U-bold;
  background: black;
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.profile_details {
  display: flex;
  flex-direction: column;
  margin: 0px 8px 0px 16px;
  justify-content: center;
}

.profile_details h2 {
  margin: 0;
  font-family: U-bold;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  line-height: 19.2px;
}

.profile_list_btn {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.profile_details p {
  font-size: 14px;
  font-family: U-reg;
  line-height: 22.4px;
  color: rgb(89, 92, 115);
}

.learn_sidebar {
  width: 100%;
  font-size: 14px;
  font-family: U-bold;
  color: #585c73;
  padding: 16px 16px 0px;
  margin: 0px 0px -4px;
  line-height: 16.8px;
}

.sideber_contents {
  width: 100%;
  min-width: 246.4px;
  margin: 0px 0px -4px;
  background: white;
  padding-bottom: 32px;
}

.learn_sidebar_main p {
  padding: 16px;
  font-family: U-reg;
  font-size: 16px;
  margin: 0px 0px 0px -4px;
  color: #303141;
  line-height: 22.4px;
}

.certification_prepration {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-family: U-reg;
  font-size: 16px;
  line-height: 22.4px;
  margin: 0px 0px 0px -4px;
  color: #303141;
  border-top: 1px solid rgb(209, 210, 224);
}

.most_popular h2 {
  width: 100%;
  font-size: 14px;
  font-family: U-bold;
  color: #585c73;
  padding: 16px 16px 0px;
  margin: 0px 0px -4px;
  line-height: 16.8px;
  border-top: 1px solid rgb(209, 210, 224);

}

.mostpopular_contents {
  padding: 8px 0px;
}

.mostpopular_content {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  font-family: U-reg;
  font-size: 16px;
  line-height: 22.4px;
  margin: 0px 0px 0px -4px;
  color: #303141;
}

.english_sidebar {
  width: 100%;
  padding: 0px 16px;
}

.english_sidebar_inner {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(109, 40, 210);
  border-radius: 4px;
  padding: 0px 16px;
  color: rgb(109, 40, 210);
  font-family: U-reg;
}

.english_sidebar_inner img {
  margin-right: 4px;
}



/* --------filter-bar------- */
.filter_bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  width: 0;
  background: rgba(4, 4, 4, 0.335);
  height: 100vh;
  position: absolute;
  z-index: 1000;
  top: 0;
  overflow: hidden;
}

.filter_bar_inner {
  left: 0;
  width: 78%;
  max-width: 280px;
  background: white;
}

.show {
  width: 100%;
  right: 0;
  transition: 0.3s ease-in-out;
}

.filter_menu_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 48px;
  height: 48px;
  padding: 0px 12px;
  margin: 10px;
  background: white;
  border-radius: 100px;
}

.fiterbar_head {
  padding: 16px;
  font-family: U-reg;
  font-size: 16px;
}

.filters_bar {
  margin: 16px;
}

.filterbar_certification {
  display: flex;
  gap: 8px;
  padding: 18px 0;
  border-bottom: 1px solid rgb(145, 148, 172);
}

.certification_slider {
  width: 40px;
  background: rgb(145, 148, 172);
  height: 20px;
  border-radius: 100px;
}

.certification_slider_round {
  border: 3px solid rgb(145, 148, 172);
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: white;
}

.filterbar_main {
  margin: 16px;
}

.filterbar_certification span {
  font-family: U-reg;
  font-size: 14px;
}

.rating_list {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 0px;
}

.rating_list input {
  margin-right: 8px;
}

.filter_rating {
  border-bottom: 1px solid rgb(145, 148, 172);
}

.filterbar_rating {
  display: flex;
  justify-content: space-between;
  font-family: U-bold;
  font-size: 16.5px;
  padding: 16px 0px;
}

.filter_rating_texts {
  font-size: 14px;
  margin-left: 4px;
  font-family: U-reg;
}

.filter_reviews {
  font-size: 14px;
  margin-left: 4px;
  font-family: U-reg;
  color: #585c73;
}

.rating_lists {
  display: none;
}

.drop {
  display: block;
}

.language_list {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 0px;
  font-size: 14px;
  margin-left: 4px;
  font-family: U-reg;
}

.language_list input {
  margin-right: 8px;
}
.language_main{
  border-bottom: 1px solid rgb(145, 148, 172);

}

.filter_laguage {
  display: flex;
  justify-content: space-between;
  font-family: U-bold;
  font-size: 16.5px;
  padding: 16px 0px;
}

.price_main{
  border-bottom: 1px solid rgb(145, 148, 172);

}

.filter_price{
  display: flex;
  justify-content: space-between;
  font-family: U-bold;
  font-size: 16.5px;
  padding: 16px 0px;
  
}
.filter_level{
  display: flex;
  justify-content: space-between;
  font-family: U-bold;
  font-size: 16.5px;
  padding: 16px 0px;
}

.price_lists{
  display: none;
}

.language_lists {
  display: none;
}

.level_lists{
  display: none;
}

.drop {
  display: block;
}
 
/* ---------header---------------- */

.header_mobile {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(6, 17, 118, 0.08) 0px 2px 4px 0px;
  align-items: center;
  height: 56px;
  box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
}

.menu_btn {
  height: 48px;
  padding: 0px 12px 0px 12px;
  background: white;
  border: 0;
  display: flex;
  align-items: center;
}

.spacer {
  width: 48px;
  height: 48px;
} 

.udemy_logo {
  display: flex;
  justify-content: center;
  height: 28.02px;
  width: 75px;
}

.udemy_logo img {
  display: flex;
  justify-content: center;
  width: 75px;
  height: 28.02px;
}

.header_icons {
  display: flex;
}

.search_icon {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px 4px 12px 12px;
  margin: 0x -4px;
}

.cart_icon {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px;
  margin: 0x -4px;
}

/* -----------courses-------------- */

.courses {
  padding: 32px 24px;
  max-width: 1340px;
  margin: 0px auto;
}
 
.results { 
  font-size: 112.8%;
  font-family: U-bold;
  line-height: 21.6px;
  color: rgb(48, 49, 65); 
  margin-bottom: 24px;
}

.filter_sort_section {
  display: flex;
  margin-bottom: 24px;
} 
 
.filter_section {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 90.06px;
  height: 62px;
  border: 1px solid rgb(145, 148, 172);
  border-radius: 4px;
  padding: 0px 12px;
  margin-right: 4px;
}

.filter_text {
  font-size: 16px;
  font-family: U-bold;
  line-height: 19.19px;
  color: rgb(48, 49, 65);
  margin-left: 4px;
}

.filter_used {
  font-size: 16px;
  font-family: U-bold;
  line-height: 19.19px;
  color: rgb(48, 49, 65);
  margin-left: 4px;
}

.sort_section {
  cursor: pointer;  
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 4px;
  padding: 20px 16px 0px; 
  max-width: 178px;
  border: 0;
  background: white;
}

.sort_section_main{
  display: flex;
  background: white;
  border: 1px solid rgb(145, 148, 172);
  height: 62px; 
  border-radius: 4px;  
}

.sort_section_main label{
  position: absolute;
  font-size: 12px;
  margin-left: 22px;
  font-family: U-bold;
}
    
.most_relevant { 
  font-size: 16px;
  font-family: U-reg; 
}

.sort_by {
  position: relative;
  margin-top: -12px;
  font-size: 14px;
  font-family: U-bold;
  line-height: 16.8px;
  color: rgb(48, 49, 65);
}

.courses_lists {
  display: flex;
  padding: 16px 0px;
  gap: 8px;
  width: 100%;
  border-bottom: 1px solid rgb(209, 210, 224);
}

.courses_lists:nth-child(1) {
  padding: 0px 0px 16px 0px;
}

.course_img {
  position: relative;
  width: 66px;
  height: 66px;
}

.course_img img {
  display: flex;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
 
.course_contents {
  width: 100%;
}

.course_description {
  line-height: 19.2px;
  display: -webkit-box;
  width: 100%;
  font-size: 16px;
  font-family: U-bold;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 4px;
}

.author {
  display: -webkit-box;
  margin-bottom: 4px;
  width: 100%;
  line-height: 16.8px;
  font-size: 12px;
  font-family: U-reg;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 4px;
  color: rgb(89, 92, 115);
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  line-height: 16.8px;
}

.rating_text {
  font-size: 14px;
  font-family: U-bold;
  margin-right: 4px;
  color: rgb(139, 67, 9);
}

.stars {
  width: 70px;
  height: 16px;
  margin-right: 4px;
}

.reviews {
  font-size: 12px;
  color: rgb(89, 92, 115);
  font-family: U-reg;
}

.about_course {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-family: U-reg;
  line-height: 16.8px;
  color: rgb(89, 92, 115);
}

.about_course span::before {
  content: "●";
  margin: 0px 4px;
  font-family: U-reg;
  font-size: 6px;
}

.price {
  display: block;
  position: relative;
  padding: 4px 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: U-bold;
  line-height: 22.4px;
  height: 24px;
}

.seller_tags {
  position: relative;
  font-family: U-bold;
  margin: 8px 0px 4px 0px;
  padding: 4px 8px;
  background: rgb(194, 233, 235);
  color: rgb(13, 82, 97);
  font-size: 12px;
  letter-spacing: 0.2px;
  border: 0;
  border-radius: 4px;
  width: 75.73px;
}

/* <!-- -------------course-hr-scroll------------- --> */
.course_img_hr img {
  width: 100%;
}

.hr_scroll {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  overflow-x: scroll;
  grid-auto-columns: 65%
}

.courses_lists_hr {
  min-width: 192px;
  width: 100%;
  max-width: 375px;
}

/* -------------suggetion-------------------------------- */
.suggetion {
  padding-top: 16px;
  margin-bottom: 32px;
}

.suggetion_head {
  display: flex;
  align-items: center;
  font-size: 16.5px;
  font-family: U-bold;
}

.suggetion_head img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.suggetion_inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 8px;
}

.suggetion_items {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(109, 40, 210);
  height: 34px;
  padding: 0px 10px;
  color: white;
  font-family: U-bold;
  border-radius: 400px;
  line-height: 22.4px;
  overflow: hidden;
  white-space: nowrap;
}

.suggetion_items p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------pages-------------- */
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.prev_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid rgb(109, 40, 210);
  border-radius: 100px;
  opacity: 0.5;
  padding: 0px 5px;
  margin-right: 8px;
}

.nxt_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid rgb(109, 40, 210);
  border-radius: 100px;
  padding: 0px 10px;
  margin-left: 8px;
}

.page_no {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 40px;
  color: rgb(109, 40, 210);
  font-family: U-bold;
  font-size: 14px;
}

.elipsis {
  rotate: 90deg;
  color: rgb(109, 40, 210);
}

.page_no_last {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 40px;
  font-family: U-bold;
  font-size: 14px;
  color: black;
}

/* --------------footer----------- */
footer {
  width: 100%;
  background: rgb(29, 30, 39);
}

.teach_online {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.teach_online_head {
  color: rgb(255, 255, 255);
  font-size: 16.5px;
  font-family: U-bold;
}

.teach_online_description {
  font-family: U-reg;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding-top: 8px;
}

.teach_online_btn {
  display: flex;
  width: 150.14px;
  align-items: center;
  margin-top: 8px;
  height: 48px;
  padding: 0px 12px;
  font-size: 16px;
  font-family: U-bold;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
} 

.top_companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 24px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.top_companies_description {
  font-family: U-bold;
  color: rgb(222, 221, 221);
  font-size: 16.5px;
  padding: 12px 24px 12px 0px;
}

.top_companies_description span {
  color: #c0c4fc;
} 
 
.company_logo img {
  margin: 12px 24px 12px 0px;
}

.company_logo {
  display: flex;
  flex-wrap: wrap; 
}

.certificates_skills {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0px;
  color: rgb(255, 255, 255);
}

.certificates_skills_head {
  font-size: 16.5px;
  font-family: S-bold;
  margin: 16px 0px 24px;
}

.certificates_skills_lists {
  padding: 16px 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.certificates_skills_list {
  display: flex;
  align-items: center;
  font-family: U-bold;
  justify-content: space-between;
  padding: 8px 0px;
}

.certificates_skills_list svg {
  display: flex;
  align-items: center;
  /* margin: 8px 0px 0px 16px; */
  color: rgb(255, 255, 255);
}

.certificates_dropdown{
  display: none;
  padding: 8px 0px 16px; 
}

.certificates_drop{
  display: block;
}
 
.certificates_dropdown_list{
  padding: 4px 0px; 
  font-size: 14px;
  line-height: 27.59px;
  font-family: U-reg;
}

.second_section {
  background: rgb(17, 17, 22);
}

.last_section {
  padding: 24px 24px 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.last_section_list_head {
  font-size: 16px;
  margin: 16px 0px;
  font-family: U-bold;
  color: rgb(255, 255, 255); 
}

.last_section_list ul {
  list-style: none;
  font-family: U-reg;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;  
  font-size: 14px; 
}      
     
.last_section_list li {
  padding-bottom: 4px;
  line-height: 19.59px;
}
 
.copyright_section { 
  padding: 0px 24px;
} 
 
.copyright_section_main {
  display: flex; 
  flex-direction: column;
  gap: 24px;
  padding: 24px 0px; 
} 
 
.laguages {
  display: flex; 
  align-items: center;
  font-size: 16px;
  font-family: U-reg;
  color: rgb(255, 255, 255);
}

.laguages p {
  margin-left: 4px;
}

.coockie {
  font-family: U-reg;
  font-size: 14px;
  padding: 4px 0px;
  color: rgb(255, 255, 255);
}

.copyright {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0px;
}

.copyright_logo {
  width: 91.06px;
  height: 34.19px;
}

.copyright_text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding-top: 0px;
  font-family: U-reg;
}

.coure_discrip {
  display: none; 
}

.header_tab {
  display: none;
}
.rotate{
  transform: rotate(180deg);
  transition: 0.1s ease-in-out;
} 


@media screen and (min-width:553px) {
  .last_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .last_section_list { 
    width: 100%; 
  } 
  
}

@media screen and (min-width:601px) {
  .courses_lists {
    gap: 16px;
  }
 
  .courses {
    padding: 48px 24px;
  }

  .course_img {
    width: 242px; 
    height: 137px;
  }

  .course_img img {
    width: 242px;
    height: 137px;
  }

  .course_contents {
    padding-right: 96px;
  }

  .coure_discrip {
    display: block;
    font-family: U-reg;
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 4px;
    max-height: 58.8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .price {
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: 0;
    right: 40px;
    padding: 0px;
    height: 20px;
  }

  .course_contents {
    min-width: 295px;
    width: 100%;
    box-sizing: border-box;
  }

  .course_contents_main {
    display: flex;
    width: 100%;
  }


}

@media screen and (min-width:643px) {
  .price {
    right: 0;
  }
}

@media screen and (min-width:701px){
  .certificates_dropdown{
    display: block;
  }
  .certificates_skills_list svg{
    display: none;
  }
  .certificates_skills_lists{
    border: 0px;
  }
  .certificates_skills_lists_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .certificates_skills_lists{
    display: flex;
    flex-direction: column;
    width: 21%;
  }
  .certificates_dropdown_list{
    line-height: 19.6px;
  }
  .copyright_section_main{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .certificates_dropdown_list{
    padding: 0px 0px 4px 0px;
  }
  .copyright{
    padding: 0px;
  }
}

@media screen and (min-width:801px) {
  .header_mobile {
    display: none;
  }

  .header_tab {
    padding: 0px 24px;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: rgba(6, 17, 118, 0.08) 0px 2px 4px 0px;
  }

  .header_tab_logo img {
    width: 91px;
  }
 
  .header_tab_logo {
    padding-right: 8px;
    margin-top: 4px;

  }

  .header_tab_explore {
    cursor: pointer;
    font-size: 14px;
    font-family: U-reg;
    line-height: 19.59px;
    margin: 12px 0px;
    padding: 12px 12px;
    border-radius: 3px;
  }
  .header_tab_explore:hover {
    background: #ede5f9;
    color: rgb(109, 40, 210);
  }


  .explore_dropdrown{
    display: none;
    width: 260px;
    height: 640px;
    position: absolute;
    background: white;
    box-shadow: rgba(6, 17, 118, 0.08) 0px 2px 4px 0px;
    z-index: 1111;
    margin-top: 30px;
    border-radius: 8px;
  }
  .explore_drop{
    display: block;
  }
  .browse_certification{
    padding: 16px 16px 0px;
    font-size: 14px;
    font-family: U-bold;
    color: rgb(89, 92, 115);
  }
  .certificate_preparation{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: U-reg;
    line-height: 19.59px;
    padding: 16px;
    color: rgb(48, 49, 65);
  }

  .certificate_preparation img{
    width: 16px;
    height: 19.69px;
    margin-left: 8px;
  } 

  .explore_dropdown_list{
    border-top: 1px solid rgb(209, 210, 224);
    padding: 8px 0px;
  }

  .explore_dropdown_list_items{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 19.59px;
    color: rgb(48, 49, 65);
  }

  .explore_dropdown_list_items img{
    width: 16px;
    height: 19.69px;
    margin-left: 8px;
  }

  .header_search_bar_main {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0px 12px;
    height: 46px;
    padding-right: 24px;
    border: 1px solid #9194ac;
    border-radius: 100px;
  }

  .header_search_bar_btn {
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    padding: 0px 12px;
    margin: 0px -4px;
  }

  .header_search_bar_main input {
    border: 0;
    margin-left: 4px;
    height: 30px;
    color: black;
  }

  .header_tab_mylearning {
    cursor: pointer;
    font-size: 14px;
    font-family: U-reg;
    line-height: 19.59px;
    margin: 12px 0px;
    padding: 12px 12px;
  }

  .header_tab_mylearning:hover{
    background: #ede5f9;
    border-radius: 3px;
  }

  .header_tab_cart {
    cursor: pointer;
    display: flex;
    margin: 12px 0px;
    padding: 0px 12px;
  }

  .cart_dropdown{ 
    padding: 16px;
    width: 288px;
    height: 89.98px;
    background: white;
    position: absolute;
    text-align: center;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
    border-radius: 8px;
    margin-top: 55px;
    margin-left: -250px;
    display: none;
  }

  .cart_dropdown span{
    font-size: 16px;
    font-family: U-reg;
    margin-bottom: 16px;
  }

  .cart_dropdown p{
    font-size: 14px;
    font-family: U-bold;
    color: rgb(109, 40, 210);
  }

  .cart_drop{
    display: block;
  }

  .profile_dp_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13.333px;
    font-family: U-bold;
    background: black;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 100px;   
  }

  .profile_dp_tab_main {
    cursor: pointer;
    margin: 12px 0px;
    padding: 0px 4px;
  }
 
  .profile_dropdown{
    display: none;
    position: absolute;
    z-index: 1111;
    margin-top: 20px; 
    margin-left: -240px;
    width: 260px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
  }
  
  .profile_drop{
    display: block;
  } 

  .profile_dp_section{
    padding: 16px;
  }
  .profile_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background: black;
    color: white;
    font-family: U-bold;
    font-size: 28px;
  }
  .user_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
  }
   
  .user_details span{
    font-size: 16px;
    font-family: U-bold;
  }
  .user_details p{
    font-size: 14px;
    font-family: U-reg;
    margin-top: 4px;
  }

  .profile_dp_section{
    display: flex;
  }

  .profile_content{
    font-size: 14px; 
    font-family: U-reg;
    line-height: 19.59px;
    padding: 8px 0px;
    border-top: 1px solid rgb(209, 210, 224);
  }
  .profile_content_items{
    padding: 8px 16px;
  }
  .profile_dropdown_last_part{
    padding: 16px;
    display: flex;
    gap: 8px;
    border-top: 1px solid rgb(209, 210, 224);
  }
  .profile_dropdown_last_part_inner span{
    font-size: 16px;
    font-family: U-bold;
    line-height: 19.19px;
  }
  .profile_dropdown_last_part_inner p{
    margin-top: 4px;
    font-size: 14px;
    font-family: U-reg;
    color: rgb(89, 92, 115);
    line-height: 19.19px;
  }
  .profile_dropdown_last_part img{
    height: 24px;
    width: 24px;
  }
  .header_tab_notification {
    cursor: pointer;
    height: 24px;
    margin: 12px 0px;
    padding: 0px 12px;
  } 
  .notification_dropdown{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 361px;
    height: 107px;
    background: white;
    position: absolute;
    text-align: center;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
    border-radius: 8px;
    margin-top: 30px;
    margin-left: -330px;
    display: none;
  } 

  .notification_drop{
    display: block;
  } 
      
  .notification_contents{
    display: flex;
    justify-content: space-between;
  }
  .notification_contents span{
    font-size: 16px;
    font-family: U-bold;
    margin-bottom: 16px;
  }
   
  .notification_contents p{
    font-size: 14px;
    font-family: U-bold;
    color: rgb(109, 40, 210);
    font-weight: 700;
  } 
  .notification_dropdown p{
    font-size: 14px;
    font-family: U-reg;
  }
 
  .header_tab_wishlist {
    cursor: pointer;
    height: 24px;
    margin: 12px 0px;
    padding: 0px 12px;
  }
   
  .header_tab_wishlist:hover{
    background: #ede5f9;
    border-radius: 3px;
  } 
  
  .wishlist_dropdown{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 288px;
    height: 89.98px;
    background: white;
    position: absolute;
    text-align: center;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
    border-radius: 8px;
    margin-top: 30px;
    margin-left: -250px;
    display: none;
  } 

  .wishlist_drop{
    display: block;
  }
      
    
  .wishlist_dropdown span{
    font-size: 16px;
    font-family: U-reg;
    margin-bottom: 16px;
  }

  .wishlist_dropdown p{
    font-size: 14px;
    font-family: U-bold;
    color: rgb(109, 40, 210);
  }

  .header_tab_teach{
    cursor: pointer;
    font-size: 14px;
    font-family: U-reg;
    line-height: 19.59px;
    margin: 12px 0px;
    padding: 12px 12px;
  }
  .header_tab_teach:hover{
    border-radius: 3px;
    background: #ede5f9;
  }

  .header_tab_bussiness{
    cursor: pointer;
    font-size: 14px;
    font-family: U-reg;
    line-height: 19.59px;
    margin: 12px 0px;
    padding: 12px 12px;
  }

  .header_tab_bussiness:hover{
    background: #ede5f9;
    border-radius: 3px;
  }

  .bussiness_dropdown{
    margin-left: -153px;
    display: none;
    width: 288px;
    padding: 16px;
    background: white;
    position: absolute;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
    border-radius: 8px;
    margin-top: 30px;
  }

  .bussiness_drop{
    display: block;
  }

  .bussiness_dropdown p{
    text-align: center; 
    margin-bottom: 16px;
    font-size: 17px; 
    font-family: U-bold;
  }

  .bussiness_button{
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    font-family: U-bold;
    color: white;
    width: 100%;
    height: 48px;
    background: rgb(109, 40, 210);
    border: 4px;
    border-radius: 4px;
  }
  .teach_dropdown{
    margin-left: -183px;
    display: none;
    width: 288px;
    padding: 16px;
    background: white;
    position: absolute;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
    border-radius: 8px;
    margin-top: 30px;
  }
  .teach_drop{
    display: block;
  }
  .teach_dropdown p{
    text-align: center; 
    margin-bottom: 16px;
    font-size: 17px; 
    font-family: U-bold;
  }
  .learning_dropdown{
    margin-left: -196px;
    display: none;
    width: 288px;
    padding: 16px;
    background: white;
    position: absolute;
    box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
    border-radius: 8px;
    margin-top: 30px;
  }
  .learning_dropdown p{
    text-align: center; 
    margin-bottom: 16px;
    font-size: 17px; 
    font-family: U-bold;
  }
  .learning_button{
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    font-family: U-bold;
    color: rgb(109, 40, 210);
    width: 100%;
    height: 48px;
    border: 1px solid rgb(109, 40, 210);
    border-radius: 4px;
  }
  .learn_drop{
    display: block;
  }
 
}  
@media screen and (min-width:981px) {
  .filter_bar{
    display: block;
    width: 0px;
    position: relative;
    background: white;
    left: 0;
    justify-content: start;
    flex: 1;
    z-index: 0;
    max-width: 311px; 
  }
  
  .filter_bar_inner{ 
    width: 100%;
    max-width: 100%; 
  } 
  .home_tabview{ 
    display: flex;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }
  .filter_menu_close_btn{
    display: none;
  }
  .course_section_main{
    width: 74.5%;
    transition: all 0.3s ease-in-out; 
  }
  .course_section_full{
    width: 100%;
    margin-left: -16px;
  }
  .fiterbar_head{
    display: none;
  }
  .filterbar_main{
    margin: 0px;
  }
  .teach_online{
    padding: 16px 32px;
  }
  .top_companies{
    padding: 16px 32px;

  }
  .certificates_skills{
    padding: 24px 32px 0px;
  }
  .last_section{
    padding: 24px 32px 0px;

  }
 
  .copyright_section{
    padding: 0px 32px;
  }

}

@media screen and (min-width:1016px) {
  .top_companies{
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width:1201px) {
  .teach_online{
    padding: 16px 48px;
  }
  .top_companies{
    padding: 12px 48px;
  }
  .certificates_skills{
    padding: 24px 48px 0px;
  }
  .last_section{
    padding: 24px 48px 0px;
  }
  .copyright_section{
    padding: 0px 48px;
  }
}